{% extends 'base.html' %}
{% block title %}Edit User — Flask CRUD{% endblock %}
{% block content %}
  <h2>Edit User</h2>
  <form method="post">
    <div class="mb-3 form-floating">
      <input class="form-control" id="name" name="name" value="{{ user.name }}" placeholder="Name" required>
      <label for="name">Name</label>
    </div>
    <div class="mb-3 form-floating">
      <input class="form-control" id="email" name="email" type="email" value="{{ user.email }}" placeholder="Email" required>
      <label for="email">Email</label>
    </div>
    <div class="mb-3 form-text">Leave password fields empty if you don't want to change the password.</div>
    <div class="mb-3 form-floating">
      <input class="form-control" id="password" name="password" type="password" placeholder="New Password">
      <label for="password">New Password</label>
    </div>
    <div class="mb-3 form-floating">
      <input class="form-control" id="password2" name="password2" type="password" placeholder="Confirm New Password">
      <label for="password2">Confirm New Password</label>
    </div>
    <button class="btn btn-primary btn-hover">Save</button>
  </form>
{% endblock %}
