{% extends 'base.html' %}
{% block title %}Register Admin — Flask CRUD{% endblock %}
{% block content %}
  <h2 class="mb-3">Register New Admin</h2>
  <form method="post">
    <div class="mb-3 form-floating">
      <input class="form-control" id="name" name="name" placeholder="Name" required>
      <label for="name">Name</label>
    </div>
    <div class="mb-3 form-floating">
      <input class="form-control" id="email" name="email" type="email" placeholder="Email" required>
      <label for="email">Email</label>
    </div>
    <div class="mb-3 form-floating">
      <input class="form-control" id="password" name="password" type="password" placeholder="Password" required>
      <label for="password">Password</label>
    </div>
    <div class="mb-3 form-floating">
      <input class="form-control" id="password2" name="password2" type="password" placeholder="Confirm Password" required>
      <label for="password2">Confirm Password</label>
    </div>
    <button class="btn btn-primary btn-hover">Create Admin</button>
  </form>
{% endblock %}
